@import url('https://fonts.google.com/specimen/Montserrat');

body{
    background-color: #F7F7F7;
    font-family: 'Montserrat', 'sans-serif';
    color: #333333
}

.logo-Huerto{
    width: 150px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.title-page {
    font-size: 26px;
}
.menu{
    font-size: 18px;
    margin-top: 10px;
    margin-left: 20%;
}

.logoTienda{
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
}

.infoTienda{
    margin-top: 40px;
}

.containerInfo{
    background-color: #DDDDDD;
    padding-bottom: 20px;
    padding-left: 25px;
    border-radius: 10px;
}

.containerProduct .card {
    height: 18rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
}

.containerProduct .card-img-top {
    height: 200px;
    
}

.containerProduct .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #DDDDDD;
}

.divSesion{  /*USADO EN REGISTRO E INICIO DE SESION*/
    max-width: 500px; /* tamaño máximo horizontal */
    margin: 50px auto; /* centrado horizontal con margen arriba/abajo */
    padding: 20px;
    background: #fff; /* opcional, como tarjeta */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* opcional */
}

.contenedor {
    display: flex;
    flex-direction: column; /* Carrusel arriba, miniaturas abajo */
    align-items: center;    /* Centrar todo */
    gap: 15px;              /* Espacio entre carrusel y miniaturas */
}

.carrusel {
    width: 600px;           /* Ajusta el ancho del carrusel */
}

.miniaturas {
    display: flex;
    flex-direction: row;    /* Miniaturas en fila */
    justify-content: center;
    gap: 10px;              /* Espacio entre miniaturas */
    width: 100%;            /* Ocupar ancho completo si quieres */
    margin: 0;              /* Sin márgenes laterales */
}

.miniaturas img {
    width: 100px;           /* Tamaño miniaturas */
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    object-fit: cover;
}

.carruselImg {  
  height: 400px;        /* Fija una altura igual para todas */
}

.colorSecundario{
    color: #18851d
}

.imgGrid {
  width: 100%;           /* Que siempre ocupe el ancho completo de la card */
  height: 200px;         /* Altura fija para todas las imágenes */
  object-fit: cover;     /* Recorta manteniendo proporciones */
}

.tamannoGrid {
    margin-top: 20px;
    margin-bottom: 40px;
}

.imgCarrito{
    width: 85px;
    height: 60px;
}